<%- include("partials/navbar") %>

<div class="container d-flex justify-content-center">

<div class="card p-5 shadow-lg" style="width:700px">

<h2 class="mb-4 text-center">
Edit Project
</h2>

<form method="POST" action="/project/update/<%=project._id%>">

<input
name="title"
value="<%=project.title%>"
class="form-control mb-3"
required
>

<textarea
name="description"
class="form-control mb-3"
rows="5"
required
><%=project.description%></textarea>

<input
name="link"
value="<%=project.link%>"
class="form-control mb-4"
>

<button class="btn btn-warning w-100">
Update Project
</button>

</form>

</div>

</div>